@page
@model WebApp_Silicon.Pages.CoursesModel
@{
    ViewData["Title"] = "Courses";
}

<section id="category-content">
    <div class="container">
        <div class="navigator">
            <nav>
                <i class="fa-solid fa-house"></i>
                <a asp-page="/Index" class="not-active">Home</a>
                <i class="fa-solid fa-angles-right" class="is-active"></i>
                <a asp-page="/Courses">Courses</a>
            </nav>
        </div>
        <div class="category-box">
            <h1>Courses</h1>
            <div class="category-filter-box">
                <div class="dropdown">
                    <button class="drop-btn">All categories<i class="fa-solid fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Category 1</a>
                        <a href="#">Category 2</a>
                        <a href="#">Category 3</a>
                    </div>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Search courses">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="courses">
    <div class="container">
        @foreach(var course in Model.Courses)
        {
            <div class="course-box">
                <div class="image-box">
                    <img src="./images/@course.ImageName" alt="">
                </div>
                @if(course.IsBestseller)
                {
                    <div class="best-seller">
                        <p>Best Seller</p>
                    </div>
                }
                <div class="save-course">
                    <i class="fa-regular fa-bookmark"></i>
                </div>
                <div class="course-content">
                    <h2>@course.Title</h2>
                    <p>By @course.Author</p>
                    <div class="pricing">
                        @if(course.DiscountPrice != 0)
                        {
                            <h3 class="sale-price">$@course.DiscountPrice</h3>
                            <h3 class="original-price">$@course.OriginalPrice</h3>
                        }
                        else
                        {
                            <h3>$@course.OriginalPrice</h3>
                        }
                    </div>
                    <div class="line"></div>
                </div>
                <div class="feedback-box">
                    <i class="fa-regular fa-clock"></i>
                    <p>@course.Hours hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>

                    <p>@Math.Round(course.LikesInProcent * 100)% (@((course.LikesInNumbers / 1000m).ToString("0.0") + "K"))</p>
                </div>
            </div>
        }
        <div class="pagination">
            <p>-ska kunna bläddra sida-</p>
        </div>
    </div>
</section>

<section id="get-started">
    <div class="container">
        <div class="content">
            <img src="~/images/woman-desk.svg" alt="woman-desktop" />
            <h3>Ready to get started?</h3>
            <div class="text-content">
                <h2>Take Your Skills to the<br>Next Level</h2>
            </div>
            <a class="btn-work-with-us" href="#">Work with us</a>
        </div>
    </div>
</section>
