@page
@model WebApp_Silicon.Pages.SignInModel
@{
    ViewData["Title"] = "Sign In";
}


<section id="signin">
    <div class="container">
        
        

        <form method="post" novalidate>

            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
            {
                <div class="alert">
                    @ViewData["ErrorMessage"]
                </div>
            }

            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a asp-page="/SignUp">Sign up here</a></p>

            <div class="content">
                <div id="form-email" class="input-group">
                    <label asp-for="@Model.Form.Email"></label>
                    <span asp-validation-for="@Model.Form.Email"></span>
                    <input asp-for="@Model.Form.Email">
                </div>
                <div id="form-password" class="input-group">
                    <label asp-for="@Model.Form.Password"></label>
                    <span asp-validation-for="@Model.Form.Password"></span>
                    <input asp-for="@Model.Form.Password">
                </div>
                <div id="form-remember" class="checkbox-group">
                    <input asp-for="@Model.Form.RememberMe">
                    <span asp-validation-for="@Model.Form.RememberMe"></span>
                    <label asp-for="@Model.Form.RememberMe"></label>
                </div>
                <button id="form-button" class="btn-theme">Sign In</button>
                <a id="forgot-password" asp-page="/forgot">Forgot your password?</a>
            </div>
        </form>
    </div>
</section>

@await Html.PartialAsync("_ValidationSignInScriptPartial")